WS1Client/src/META-INF/wsdl/localhost_8080/WS1/CalculoBasico.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matematica/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://matematica/" name="CalculoBasicoService">
<types>
<xsd:schema>
<xsd:import namespace="http://matematica/" schemaLocation="http://localhost:8080/WS1/CalculoBasico?xsd=1" />
</xsd:schema>
</types>
<message name="soma">
<part name="parameters" element="tns:soma" />
</message>
<message name="somaResponse">
<part name="parameters" element="tns:somaResponse" />
</message>
<message name="divid">
<part name="parameters" element="tns:divid" />
</message>
<message name="dividResponse">
<part name="parameters" element="tns:dividResponse" />
</message>
<message name="multi">
<part name="parameters" element="tns:multi" />
</message>
<message name="multiResponse">
<part name="parameters" element="tns:multiResponse" />
</message>
<portType name="CalculoBasico">
<operation name="soma">
<input wsam:Action="http://matematica/CalculoBasico/somaRequest" message="tns:soma" />
<output wsam:Action="http://matematica/CalculoBasico/somaResponse" message="tns:somaResponse" />
</operation>
<operation name="divid">
<input wsam:Action="http://matematica/CalculoBasico/dividRequest" message="tns:divid" />
<output wsam:Action="http://matematica/CalculoBasico/dividResponse" message="tns:dividResponse" />
</operation>
<operation name="multi">
<input wsam:Action="http://matematica/CalculoBasico/multiRequest" message="tns:multi" />
<output wsam:Action="http://matematica/CalculoBasico/multiResponse" message="tns:multiResponse" />
</operation>
</portType>
<binding name="CalculoBasicoPortBinding" type="tns:CalculoBasico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="soma">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="divid">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multi">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CalculoBasicoService">
<port name="CalculoBasicoPort" binding="tns:CalculoBasicoPortBinding">
<soap:address location="http://localhost:8080/WS1/CalculoBasico" />
</port>
</service>
</definitions>